@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&family=Shrikhand&display=swap");
@media all and (min-width: 1200px) {
  .loader {
    border: 16px solid #f7f7f7;
    border-radius: 50%;
    border-top: 16px solid #9356DC;
    border-right: 16px solid #FF79DA;
    border-bottom: 16px solid #99E2D0;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 5s linear both;
    animation: spin 5s linear both;
    position: fixed;
    left: 900px;
    top: 400px;
    z-index: 9999;
  }
  #overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 150%;
    background: white;
    opacity: 1;
    z-index: 9999;
    -webkit-animation: overlay 5s both;
            animation: overlay 5s both;
  }
  @-webkit-keyframes overlay {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(50000px);
              transform: translateX(50000px);
      opacity: 0;
    }
  }
  @keyframes overlay {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      opacity: 1;
    }
    50% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      opacity: 0;
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      opacity: 0;
    }
    50% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      opacity: 0;
    }
  }
  .fa-check-circle:hover {
    color: white;
    background-color: #99E2D0;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 20px;
    overflow: hidden;
    -webkit-animation: slide 10s ease-in-out;
    animation: slide 10s ease-in-out;
  }
  @-webkit-keyframes slide {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    50% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
  }
  @keyframes slide {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    50% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
  }
  .fa-heart:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), color-stop(50%), to(#FF79DA));
    background: linear-gradient(#9356DC, 50%, #FF79DA);
    -webkit-animation: filling-heart 5s ease-in-out;
            animation: filling-heart 5s ease-in-out;
  }
  @-webkit-keyframes filling-heart {
    0% {
      background-position: center 27px;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    58% {
      background-position: center 0px;
      -webkit-text-stroke-color: #9356DC;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    60% {
      -webkit-text-stroke-color: #FF79DA;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    80% {
      -webkit-transform: scale(1.15);
              transform: scale(1.15);
    }
    100% {
      background-position: center 0px;
      -webkit-text-stroke-color: #FF79DA;
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }
  @keyframes filling-heart {
    0% {
      background-position: center 27px;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    58% {
      background-position: center 0px;
      -webkit-text-stroke-color: #9356DC;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    60% {
      -webkit-text-stroke-color: #FF79DA;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    80% {
      -webkit-transform: scale(1.15);
              transform: scale(1.15);
    }
    100% {
      background-position: center 0px;
      -webkit-text-stroke-color: #FF79DA;
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }
}

@media all and (max-width: 699px) {
  .loader {
    border: 16px solid #f7f7f7;
    border-radius: 50%;
    border-top: 16px solid #9356DC;
    border-right: 16px solid #FF79DA;
    border-bottom: 16px solid #99E2D0;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 5s linear both;
    animation: spin 5s linear both;
    position: fixed;
    left: 120px;
    top: 400px;
    z-index: 9999;
  }
  #overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 150%;
    background: white;
    opacity: 1;
    z-index: 9999;
    -webkit-animation: overlay 5s both;
            animation: overlay 5s both;
  }
  @-webkit-keyframes overlay {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @keyframes overlay {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  @-webkit-keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      opacity: 1;
    }
    50% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      opacity: 0;
    }
  }
  @keyframes spin {
    0% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      opacity: 0;
    }
    50% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      opacity: 1;
    }
    100% {
      -webkit-transform: rotate(360deg);
              transform: rotate(360deg);
      opacity: 0;
    }
  }
  .fa-check-circle:hover {
    color: white;
    background-color: #99E2D0;
    padding: 20px;
    text-align: center;
    position: relative;
    bottom: 20px;
    overflow: hidden;
    -webkit-animation: slide 10s ease-in-out;
    animation: slide 10s ease-in-out;
  }
  @-webkit-keyframes slide {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    50% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
  }
  @keyframes slide {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    50% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(-1000px);
              transform: translateX(-1000px);
      opacity: 0;
    }
  }
  .fa-heart:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#9356DC), color-stop(50%), to(#FF79DA));
    background: linear-gradient(#9356DC, 50%, #FF79DA);
    -webkit-animation: filling-heart 5s ease-in-out;
            animation: filling-heart 5s ease-in-out;
  }
  @-webkit-keyframes filling-heart {
    0% {
      background-position: center 27px;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    58% {
      background-position: center 0px;
      -webkit-text-stroke-color: #9356DC;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    60% {
      -webkit-text-stroke-color: #FF79DA;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    80% {
      -webkit-transform: scale(1.15);
              transform: scale(1.15);
    }
    100% {
      background-position: center 0px;
      -webkit-text-stroke-color: #FF79DA;
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }
  @keyframes filling-heart {
    0% {
      background-position: center 27px;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    58% {
      background-position: center 0px;
      -webkit-text-stroke-color: #9356DC;
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    60% {
      -webkit-text-stroke-color: #FF79DA;
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
    }
    80% {
      -webkit-transform: scale(1.15);
              transform: scale(1.15);
    }
    100% {
      background-position: center 0px;
      -webkit-text-stroke-color: #FF79DA;
      -webkit-transform: scale(1.1);
              transform: scale(1.1);
    }
  }
}

.footer_container {
  background-color: #383838;
  color: white;
}

.footer_container ul, .footer_container a {
  list-style-type: none;
  text-decoration: none;
  color: white;
  margin: 0;
  padding: 0;
}

.bkg-light {
  background-color: #f7f7f7;
}

.btn-color {
  background-color: white;
}

h2 {
  font-family: 'Roboto', sans-serif;
  padding-left: 20px;
}

h4 {
  font-family: 'Shrikhand', cursive;
  margin: 0px;
  padding-bottom: 15px;
  font-weight: normal;
}

@media all and (max-width: 699px) {
  .header-bloc {
    text-align: center;
    z-index: 99998;
  }
  .header-bloc__shadow {
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }
  .header-bloc img {
    height: 50px;
    width: 50%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .presentation-bloc {
    text-align: center;
    z-index: 1;
  }
  .presentation-bloc__localisation {
    background-color: #d1d1d1;
  }
  .presentation-bloc__localisation i {
    margin-right: 15px;
  }
  .presentation-bloc__localisation p {
    font-weight: bold;
  }
  .presentation-bloc__description--last {
    border-radius: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(50%), to(#9356DC));
    background: linear-gradient(#FF79DA, 50%, #9356DC);
    color: white;
    width: 12em;
    text-align: center;
    position: relative;
    left: 20%;
    margin-bottom: 15px;
  }
  .presentation-bloc__description--bold {
    font-weight: bold;
    font-size: 25px;
  }
  .presentation-bloc p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
  }
  .functionality {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .functionality__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .functionality__btn :hover {
    background-color: #e4d5f6;
  }
  .functionality__btn__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    background-color: #f7f7f7;
  }
  .functionality__btn__number {
    border-radius: 100px;
    background-color: #9356DC;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-size: 15px;
    position: absolute;
    right: 315px;
    top: -3px;
    color: white;
  }
  .functionality__btn i {
    position: relative;
    top: 35%;
    right: 20px;
  }
  .functionality p {
    font-family: 'Roboto', sans-serif;
  }
  .restaurant-menu_bloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .restaurant-menu__btn {
    height: 290px;
    width: 90%;
  }
  .restaurant-menu__btn--new {
    position: relative;
    bottom: 230px;
    left: 250px;
    width: 20%;
    background-color: #99E2D0;
    font-family: 'Roboto', sans-serif;
    color: #278870;
    font-weight: bold;
  }
  .restaurant-menu img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 200px;
    width: 100%;
    padding-bottom: 0;
    border-radius: 20px 20px 0 0;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
  }
  .restaurant-menu p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 3px;
  }
  .restaurant-menu a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
  }
  .btn-color {
    border-radius: 0 0 20px 20px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
  }
  .btn-color--bold {
    font-weight: bold;
  }
  .footer_container {
    padding: 15px;
  }
  .footer_container li {
    padding: 5px;
  }
  .footer_container i {
    padding-right: 5px;
    font-size: 15px;
  }
}

@media all and (min-width: 1200px) {
  .header-bloc {
    text-align: center;
    z-index: 99998;
  }
  .header-bloc__shadow {
    -webkit-box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
  }
  .header-bloc img {
    height: 75px;
    width: 50%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .presentation-bloc {
    text-align: center;
    z-index: 1;
  }
  .presentation-bloc__localisation {
    background-color: #d1d1d1;
  }
  .presentation-bloc__localisation i {
    margin-right: 15px;
  }
  .presentation-bloc__localisation p {
    font-weight: bold;
  }
  .presentation-bloc__description--last {
    border-radius: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(50%), to(#9356DC));
    background: linear-gradient(#FF79DA, 50%, #9356DC);
    color: white;
    width: 12em;
    text-align: center;
    position: relative;
    left: 45%;
    margin-bottom: 15px;
  }
  .presentation-bloc__description--bold {
    font-weight: bold;
    font-size: 35px;
  }
  .presentation-bloc p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 15px;
  }
  .functionality__btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .functionality__btn :hover {
    background-color: #e4d5f6;
  }
  .functionality__btn__menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 20px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: 40px;
    text-align: center;
    width: 30%;
    height: 50px;
    background-color: #f7f7f7;
  }
  .functionality__btn__number {
    border-radius: 100px;
    background-color: #9356DC;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-size: 15px;
    position: relative;
    right: 190px;
    color: white;
  }
  .functionality__btn i {
    position: relative;
    right: 10%;
  }
  .functionality p {
    font-family: 'Roboto', sans-serif;
    display: inline;
    line-height: 50px;
  }
  .restaurant-menu_bloc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .restaurant-menu__btn {
    height: 290px;
    width: 30%;
    margin: 15px;
  }
  .restaurant-menu__btn--new {
    position: relative;
    bottom: 230px;
    left: 450px;
    width: 13%;
    background-color: #99E2D0;
    font-family: 'Roboto', sans-serif;
    color: #278870;
    font-weight: bold;
  }
  .restaurant-menu img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 200px;
    width: 100%;
    padding-bottom: 0;
    border-radius: 20px 20px 0 0;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 0;
  }
  .restaurant-menu p {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    padding: 3px;
  }
  .restaurant-menu a {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
  }
  .btn-color {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 0 0 20px 20px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: 0;
    padding: 0;
  }
  .btn-color--bold {
    font-weight: bold;
  }
  .footer_container {
    padding: 15px;
  }
  .footer_container li {
    padding: 5px;
  }
  .footer_container i {
    padding-right: 5px;
    font-size: 15px;
  }
}

html, body {
  margin: 0;
  padding: 0;
}

@media all and (max-width: 699px) {
  .restaurant-header-bloc__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .restaurant-header-bloc__logo__img {
    height: 50px;
    width: 50%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .restaurant-header-bloc__img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 300px;
    width: 100%;
  }
  .restaurant-header-bloc i {
    position: relative;
    -webkit-transform: translate(-150%, 80%);
            transform: translate(-150%, 80%);
    font-size: 20px;
  }
  .restaurant-menu_blocs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 30px 30px 0 0;
    position: relative;
    bottom: 35px;
    margin: auto;
    margin-bottom: -35px;
    padding-bottom: 35px;
  }
  .restaurant-menu_blocs h2 {
    font-family: 'Shrikhand', cursive;
  }
  .restaurant-menu_blocs__btn {
    border-radius: 15px;
    width: auto;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: 10px;
    padding: 10px;
    background-color: white;
  }
  .restaurant-menu_blocs__btn--bold {
    font-weight: bold;
  }
  .restaurant-menu_blocs--title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-left: 5px;
  }
  .restaurant-menu_blocs--title i:hover {
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(50%), to(#9356DC));
    background: linear-gradient(#FF79DA, 50%, #9356DC);
    margin: 0;
    padding: 0;
  }
  .restaurant-menu_blocs p {
    margin: 0;
    padding: 2px;
    font-family: 'Roboto', sans-serif;
  }
  .order-btn {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    border-radius: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(50%), to(#9356DC));
    background: linear-gradient(#FF79DA, 50%, #9356DC);
    color: white;
    padding: 15px;
    position: relative;
    -webkit-transform: translateX(25%);
            transform: translateX(25%);
    width: 50%;
    text-align: center;
    margin: 25px;
  }
  .upper-case {
    text-transform: uppercase;
    border-bottom: solid 4px #99E2D0;
    width: 10%;
  }
  .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .heart-btn-menu {
    position: relative;
    font-size: 25px;
    margin: 0;
    padding: 0;
    -webkit-transform: translate(50%, 35%);
            transform: translate(50%, 35%);
  }
}

@media all and (min-width: 1200px) {
  .restaurant-header-bloc__logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .restaurant-header-bloc__logo__img {
    height: 50px;
    width: 50%;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .restaurant-header-bloc__img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 400px;
    width: 100%;
  }
  .restaurant-header-bloc i {
    position: relative;
    -webkit-transform: translate(-150%, 80%);
            transform: translate(-150%, 80%);
    font-size: 20px;
  }
  .restaurant-menu_blocs {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    border-radius: 30px 30px 0 0;
    position: relative;
    bottom: 5px;
    margin: auto;
    margin: auto;
    margin-bottom: -5px;
    padding-bottom: 20px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .restaurant-menu_blocs h2 {
    font-family: 'Shrikhand', cursive;
  }
  .restaurant-menu_blocs__btn {
    border-radius: 15px;
    -webkit-box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    margin: 20px;
    padding: 0;
    background-color: white;
    text-overflow: fade(5%);
    overflow: hidden;
  }
  .restaurant-menu_blocs__btn--bold {
    font-weight: bold;
  }
  .restaurant-menu_blocs--title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding-left: 15px;
  }
  .restaurant-menu_blocs p {
    margin: 0;
    padding: 5px;
    font-family: 'Roboto', sans-serif;
  }
  .restaurant-menu_blocs--detail {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .order-btn {
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    color: black;
    border-radius: 30px;
    background: -webkit-gradient(linear, left top, left bottom, from(#FF79DA), color-stop(50%), to(#9356DC));
    background: linear-gradient(#FF79DA, 50%, #9356DC);
    color: white;
    padding: 15px;
    position: relative;
    -webkit-transform: translateX(5%);
            transform: translateX(5%);
    width: 30%;
    text-align: center;
    margin: 25px;
  }
  .upper-case {
    text-transform: uppercase;
    border-bottom: solid 4px #99E2D0;
    width: 10%;
    padding: 0;
    margin: 0;
  }
  .price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .heart-btn-menu {
    position: relative;
    -webkit-transform: translate(150%, 35%);
            transform: translate(150%, 35%);
    font-size: 25px;
  }
}
/*# sourceMappingURL=main.css.map */