html, body {
    margin: 0;
    padding: 0;
}


@media all and (max-width: 699px) {
    .shadow {
        margin-bottom: 5px;
        -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.8);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.8); 
    }
    .space{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .restaurant-bloc {
        margin-top: 15px;
        padding-top: 20px;
    }

    .heart-btn {
        font-size: 20px;
        position: relative;
        left: 85%;
        bottom: 40px;
    }

    .heart-btn-top {
        font-size: 20px;
        position: relative;
        left: 290px;
        bottom: 65px;
    }

    .fa-heart:hover{
        color:#9356DC !important;
     }
}

@media all and (min-width: 1200px){
    .shadow {
        margin-bottom: 5px;
        -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.8);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.8); 
    }
    .space{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .heart-btn {
        font-size: 20px;
        position: relative;
        left: 90%;
        bottom: 35px;
    }

    .heart-btn-top {
        font-size: 20px;
        position: relative;
        left: 90%;
        bottom: 60px;
    }
    
    .fa-heart:hover{
        color:#9356DC !important;
     }
}

@media all and (min-width: 700px) and (max-width: 1024px)
{ 
    .shadow {
        margin-bottom: 5px;
        -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.8);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.8); 
    }

    .header-bloc {
        z-index: 10;
    }

    .space{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    .heart-btn {
        font-size: 20px;
        position: relative;
        left: 85%;
        bottom: 35px;
    }

    .heart-btn-top {
        font-size: 20px;
        position: relative;
        left: 85%;
        bottom: 60px;
    }
    
    .fa-heart:hover{
        color:#9356DC !important;
     }
}