html, body {
    margin: 0;
    padding: 0;
}
/*Version Mobile*/
@media all and (max-width: 699px) {

  .lighten_hover:hover {
    background: linear-gradient(#ff79da, 80%,  #9356dc);
  }
    .shadow {
        margin-bottom: 5px;
        -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.8);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.8); 
    }
    .space{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .restaurant-bloc {
        margin-top: 15px;
        padding-top: 20px;
    }

    
}
/* Version desktop */
@media all and (min-width: 1920px){

  .lighten_hover:hover {
    background: linear-gradient(#ff79da, 80%,  #9356dc);
  }
    .shadow {
        margin-bottom: 5px;
        -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.8);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.8); 
    }
    .space{
        padding-top: 30px;
        padding-bottom: 30px;
    }
      
}
/*Version tablette */
@media all and (min-width: 700px) and (max-width: 1199px)
{ 
  .lighten_hover:hover {
    background: linear-gradient(#ff79da, 80%,  #9356dc);
  }
  .shadow {
      margin-bottom: 5px;
      -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.8);
      box-shadow: 0 0 10px 0 rgba(0,0,0,0.8); 
  }

  .header-bloc {
      z-index: 10;
  }

  .space{
      padding-top: 30px;
      padding-bottom: 30px;
  }
  
}
/* Version Pc Portable*/
@media all and (min-width: 1200px) and (max-width: 1919px) {

  .lighten_hover:hover {
    background: linear-gradient(#ff79da, 80%,  #9356dc);
  }

  .shadow {
    margin-bottom: 5px;
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.8);
    box-shadow: 0 0 10px 0 rgba(0,0,0,0.8); 
}

.header-bloc {
    z-index: 10;
}

.space{
    padding-top: 30px;
    padding-bottom: 30px;
}

}