html, body {
    margin: 0;
    padding: 0;
}

@media all and (max-width: 699px) {

    .shadow {
        margin-bottom: 5px;
        -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.8);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.8); 
    }
    .space{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .restaurant-bloc {
        margin-top: 15px;
        padding-top: 20px;
    }

    /*configuration Coeur index*/
    .icon_heart:hover i.fa-heart {
        display: none;
      }
      .icon_heart:hover i.fas.fa-heart {
        display: block;
      }
      .icon_heart {
        display: flex;
        justify-content: flex-end;
        font-size: 1.5rem;
        margin: 1.2rem 0 2rem 7rem;
        position: relative;
        bottom: 55px;
        right: 35px;
      }
      .icon_heart_top:hover i.fa-heart {
        display: none;
      }
      .icon_heart_top:hover i.fas.fa-heart {
        display: block;
      }
      .icon_heart_top {
        display: flex;
        justify-content: flex-end;
        font-size: 1.5rem;
        margin: 1.2rem 0 2rem 7rem;
        position: relative;
        bottom: 80px;
        right: 35px;
      }
      /*configuration coeur général*/
      i.fa-heart:hover {
        cursor: pointer;
        border: 0 solid transparent;
      }
      i.fas.fa-heart {
        display: none;
        background: linear-gradient(to bottom, #9356dc, #ff79da);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 2rem;
      }
      /*Configuration Coeur pages menu*/
      .icon_heart_menu:hover i.fa-heart {
        display: none;
      }
      .icon_heart_menu:hover i.fas.fa-heart {
        display: block;
      }
      .icon_heart_menu {
        display: flex;
        justify-content: flex-end;
        font-size: 1.5rem;
        margin: 1.2rem 0 2rem 7rem;
        position: relative;
        right: 20px;
      }
}

@media all and (min-width: 1200px){
    .shadow {
        margin-bottom: 5px;
        -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.8);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.8); 
    }
    .space{
        padding-top: 30px;
        padding-bottom: 30px;
    }
 /*configuration Coeur index*/
     .icon_heart:hover i.fa-heart {
        display: none;
      }
      .icon_heart:hover i.fas.fa-heart {
        display: block;
      }
      .icon_heart {
        display: flex;
        justify-content: flex-end;
        font-size: 2rem;
        margin: 1.2rem 0 2rem 7rem;
        position: relative;
        bottom: 60px;
        right: 35px;
      }
      .icon_heart_top:hover i.fa-heart {
        display: none;
      }
      .icon_heart_top:hover i.fas.fa-heart {
        display: block;
      }
      .icon_heart_top {
        display: flex;
        justify-content: flex-end;
        font-size: 2rem;
        margin: 1.2rem 0 2rem 7rem;
        position: relative;
        bottom: 90px;
        right: 35px;
      }
      /*configuration coeur général*/
      i.fa-heart:hover {
        cursor: pointer;
        border: 0 solid transparent;
      }
      i.fas.fa-heart {
        display: none;
        background: linear-gradient(to bottom, #9356dc, #ff79da);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 2rem;
      }
      /*Configuration Coeur pages menu*/
      .icon_heart_menu:hover i.fa-heart {
        display: none;
      }
      .icon_heart_menu:hover i.fas.fa-heart {
        display: block;
      }
      .icon_heart_menu {
        display: flex;
        justify-content: flex-end;
        font-size: 2rem;
        margin: 1.2rem 0 2rem 7rem;
      }
      
}

@media all and (min-width: 700px) and (max-width: 1024px)
{ 
    .shadow {
        margin-bottom: 5px;
        -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.8);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.8); 
    }

    .header-bloc {
        z-index: 10;
    }

    .space{
        padding-top: 30px;
        padding-bottom: 30px;
    }
    
    /*configuration Coeur index*/
    .icon_heart:hover i.fa-heart {
        display: none;
      }
      .icon_heart:hover i.fas.fa-heart {
        display: block;
      }
      .icon_heart {
        display: flex;
        justify-content: flex-end;
        font-size: 1.5rem;
        margin: 1.2rem 0 2rem 7rem;
        position: relative;
        bottom: 60px;
        right: 35px;
      }
      .icon_heart_top:hover i.fa-heart {
        display: none;
      }
      .icon_heart_top:hover i.fas.fa-heart {
        display: block;
      }
      .icon_heart_top {
        display: flex;
        justify-content: flex-end;
        font-size: 1.5rem;
        margin: 1.2rem 0 2rem 7rem;
        position: relative;
        bottom: 90px;
        right: 35px;
      }
      /*configuration coeur général*/
      i.fa-heart:hover {
        cursor: pointer;
        border: 0 solid transparent;
      }
      i.fas.fa-heart {
        display: none;
        background: linear-gradient(to bottom, #9356dc, #ff79da);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
        font-size: 2rem;
      }
      /*Configuration Coeur pages menu*/
      .icon_heart_menu:hover i.fa-heart {
        display: none;
      }
      .icon_heart_menu:hover i.fas.fa-heart {
        display: block;
      }
      .icon_heart_menu {
        display: flex;
        justify-content: flex-end;
        font-size: 2rem;
        margin: 1.2rem 0 2rem 7rem;
      }
}