/*Version desktop*/
@media all and (min-width: 1920px) {
  .bloc_page {
    position: relative;
    overflow: hidden;
  }
/*Loading Spinner*/
  .loader {
    border: 16px solid #f7f7f7;
    border-radius: 50%;
    border-top: 16px solid #9356DC;
    border-right: 16px solid #FF79DA;
    border-bottom: 16px solid #99E2D0;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 5s linear both;
    animation: spin 5s linear both;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  #overlay{
    position: fixed; 
    display: block; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    opacity: 1;
    z-index: 2;
   -webkit-animation: overlay 5s both;
    animation: overlay 5s both;
}

@-webkit-keyframes overlay {
  0% { 
    opacity:1;
  }
  50% { 
    opacity:1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes overlay {
  0% { 
    opacity:1;
  }
  50% { 
    opacity:1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
  @-webkit-keyframes spin {
    0% { 
      transform: rotate(0deg); 
      opacity:1;
      
    }
    50% { 
      transform: rotate(360deg); 
      opacity:1;
    }
    100% {
      transform: rotate(360deg);
      opacity: 0;
    }
  }

  @keyframes spin {
    0% { 
      transform: rotate(0deg); 
      opacity:0;
    }
    50% { 
      transform: rotate(360deg); 
      opacity: 1;
    }
    100% {
      transform: rotate(360deg);
      opacity: 0;
    }
  }

  .page_menu{
    animation : index-load 3s ease-in-out both;
    animation-delay: 3s
  }

  @-webkit-keyframes index-load {
    from{
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes index-load {
    from{
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
/* Animation Slide des bouton du menu*/
   
@-webkit-keyframes slide {
  0% {
   opacity : 1;
   transform: translateX(45px);
 }
   100% {
    opacity:1;
    transform: translateX(0);
   }
}

@keyframes slide {
  0% {
    opacity : 1;
    transform: translateX(45px);
  }
    100% {
     opacity:1;
     transform: translateX(0);
    }
  }  

  @-webkit-keyframes rotating {
    0%{
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg)
    }
    100%{
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg)
    }
}
@keyframes rotating {
  0%{
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg)
  }
  100%{
      -webkit-transform: rotate(20deg);
      transform: rotate(20deg)
  }
}
/* Chargement du menu l'un apres l'autre*/
  .starter {
    animation : menu-load 5s ease-in-out both;
    animation-delay: 1s;
  }

  .main_dish {
    animation : menu-load 5s ease-in-out both;
    animation-delay: 3s;
  }

  .desserts{
    animation : menu-load 5s ease-in-out both;
    animation-delay: 5s;
  }

  @-webkit-keyframes menu-load {
    from{
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes menu-load {
    from{
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /*configuration Coeur index*/
  .icon_heart:hover i.fa-heart {
    display: none;
  }
  .icon_heart:hover i.fas.fa-heart {
    display: block;
  }
  .icon_heart {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    margin: 1.2rem 0 2rem 7rem;
    position: relative;
    bottom: 60px;
    right: 35px;
  }
  .icon_heart_top:hover i.fa-heart {
    display: none;
  }
  .icon_heart_top:hover i.fas.fa-heart {
    display: block;
  }
  .icon_heart_top {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    margin: 1.2rem 0 2rem 7rem;
    position: relative;
    bottom: 90px;
    right: 35px;
  }
  /*configuration coeur général*/
  i.fa-heart:hover {
    cursor: pointer;
    border: 0 solid transparent;
  }
  i.fas.fa-heart {
    display: none;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(172,72,175,1) 50%, rgba(255,121,218,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;
    background-size:100% 200%;
    color: transparent;
    font-size: 2rem;
    animation: filling-heart 0.5s ease-in-out both;
  }
  /*Configuration Coeur pages menu*/
  .icon_heart_menu:hover i.fa-heart {
    display: none;
  }
  .icon_heart_menu:hover i.fas.fa-heart {
    display: block;
  }
  .icon_heart_menu {
    display: flex;
    justify-content: flex-end;
    font-size: 2rem;
    margin: 1.2rem 0 2rem 7rem;
  }

  @keyframes filling-heart { 	
    0% { 	
    background-position: top; 		
    transform: scale(1); 	
  } 	
	50% {
		background-position: bottom;
		transform: scale(1.2);
	}
  100% { 	
    background: linear-gradient(rgba(172,72,175,1) 50%, rgba(255,121,218,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;		
    transform: scale(1); 	
  } 
}

}

/*Version Pc portbale*/
@media all and (min-width: 1200px) and (max-width: 1919px) {
/*Loading Spinner*/
  .loader {
    border: 16px solid #f7f7f7;
    border-radius: 50%;
    border-top: 16px solid #9356DC;
    border-right: 16px solid #FF79DA;
    border-bottom: 16px solid #99E2D0;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 5s linear both;
    animation: spin 5s linear both;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  #overlay{
    position: fixed; 
    display: block; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    opacity: 1;
    z-index: 2;
   -webkit-animation: overlay 5s both;
    animation: overlay 5s both;
}

@-webkit-keyframes overlay {
  0% { 
    opacity:1;
  }
  50% { 
    opacity:1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes overlay {
  0% { 
    opacity:1;
  }
  50% { 
    opacity:1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
  @-webkit-keyframes spin {
    0% { 
      transform: rotate(0deg); 
      opacity:1;
      
    }
    50% { 
      transform: rotate(360deg); 
      opacity:1;
    }
    100% {
      transform: rotate(360deg);
      opacity: 0;
    }
  }

  @keyframes spin {
    0% { 
      transform: rotate(0deg); 
      opacity:0;
    }
    50% { 
      transform: rotate(360deg); 
      opacity: 1;
    }
    100% {
      transform: rotate(360deg);
      opacity: 0;
    }
  }
  .page_menu{
    animation : index-load 3s ease-in-out both;
    animation-delay: 3s
  }

  @-webkit-keyframes index-load {
    from{
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes index-load {
    from{
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
/* Animation Slide des bouton du menu*/
@-webkit-keyframes slide {
  0% {
   opacity : 1;
   transform: translateX(45px);
 }
   100% {
    opacity:1;
    transform: translateX(0);
   }
}

@keyframes slide {
  0% {
    opacity : 1;
    transform: translateX(45px);
  }
    100% {
     opacity:1;
     transform: translateX(0);
    }
  }  

  @-webkit-keyframes rotating {
    0%{
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg)
    }
    100%{
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg)
    }
}
@keyframes rotating {
  0%{
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg)
  }
  100%{
      -webkit-transform: rotate(20deg);
      transform: rotate(20deg)
  }
}
/* Chargement du menu l'un apres l'autre*/
  .starter {
    animation : menu-load 5s ease-in-out both;
    animation-delay: 1s;
  }

  .main_dish {
    animation : menu-load 5s ease-in-out both;
    animation-delay: 3s;
  }

  .desserts{
    animation : menu-load 5s ease-in-out both;
    animation-delay: 5s;
  }

  @-webkit-keyframes menu-load {
    from{
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes menu-load {
    from{
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
/*configuration Coeur index*/
.icon_heart:hover i.fa-heart {
  display: none;
}
.icon_heart:hover i.fas.fa-heart {
  display: block;
}
.icon_heart {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  margin: 1.2rem 0 2rem 7rem;
  position: relative;
  bottom: 60px;
  right: 35px;
}
.icon_heart_top:hover i.fa-heart {
  display: none;
}
.icon_heart_top:hover i.fas.fa-heart {
  display: block;
}
.icon_heart_top {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  margin: 1.2rem 0 2rem 7rem;
  position: relative;
  bottom: 90px;
  right: 35px;
}
/*configuration coeur général*/
i.fa-heart:hover {
  cursor: pointer;
  border: 0 solid transparent;
}
i.fas.fa-heart {
  display: none;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(172,72,175,1) 50%, rgba(255,121,218,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 2rem;
  animation: filling-heart 0.5s ease-in-out both;
}
/*Configuration Coeur pages menu*/
.icon_heart_menu:hover i.fa-heart {
  display: none;
}
.icon_heart_menu:hover i.fas.fa-heart {
  display: block;
}
.icon_heart_menu {
  display: flex;
  justify-content: flex-end;
  font-size: 2rem;
  margin: 1.2rem 0 2rem 7rem;
}

@keyframes filling-heart { 	
  0% { 	
  background-position: top; 		
  transform: scale(1); 	
} 	
50% {
  background-position: bottom;
  transform: scale(1.2);
}
100% { 	
  background: linear-gradient(rgba(172,72,175,1) 50%, rgba(255,121,218,1) 100%);
  background-clip: text;
  -webkit-background-clip: text;		
  transform: scale(1); 	
} 
}
}
/*Version responsive*/
@media all and (max-width: 699px) { 
  /*Loading Spinner*/
  .loader {
    border: 16px solid #f7f7f7;
    border-radius: 50%;
    border-top: 16px solid #9356DC;
    border-right: 16px solid #FF79DA;
    border-bottom: 16px solid #99E2D0;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 5s linear both;
    animation: spin 5s linear both;
    position: absolute;
    top: 60%;
    left: 30%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  #overlay{
    position: fixed; 
    display: block; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    opacity: 1;
    z-index: 2;
    -webkit-animation: overlay 5s both;
    animation: overlay 5s both;
}

@-webkit-keyframes overlay {
  0% { 
    opacity:1;
  }
  50% { 
    opacity:1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes overlay {
  0% { 
    opacity:1;
  }
  50% { 
    opacity:1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
  @-webkit-keyframes spin {
    0% { 
      transform: rotate(0deg); 
      opacity:1;
      
    }
    50% { 
      transform: rotate(360deg); 
      opacity:1;
    }
    100% {
      transform: rotate(360deg);
      opacity: 0;
    }
  }

  @keyframes spin {
    0% { 
      transform: rotate(0deg); 
      opacity:0;
    }
    50% { 
      transform: rotate(360deg); 
      opacity: 1;
    }
    100% {
      transform: rotate(360deg);
      opacity: 0;
    }
  }
  .page_menu{
    animation : index-load 3s ease-in-out both;
    animation-delay: 3s
  }

  @-webkit-keyframes index-load {
    from{
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes index-load {
    from{
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
/* Animation Slide des bouton du menu*/
@-webkit-keyframes slide {
  0% {
   opacity : 1;
   transform: translateX(20px);
 }
   100% {
    opacity:1;
    transform: translateX(10px);
   }
}

@keyframes slide {
  0% {
    opacity : 1;
    transform: translateX(20px);
  }
    100% {
     opacity:1;
     transform: translateX(10px);
    }
  }  

  @-webkit-keyframes rotating {
    0%{
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg)
    }
    100%{
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg)
    }
}
@keyframes rotating {
  0%{
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg)
  }
  100%{
      -webkit-transform: rotate(20deg);
      transform: rotate(20deg)
  }
}
/* Chargement du menu l'un apres l'autre*/
  .starter {
    animation : menu-load 5s ease-in-out both;
    animation-delay: 1s;
  }

  .main_dish {
    animation : menu-load 5s ease-in-out both;
    animation-delay: 3s;
  }

  .desserts{
    animation : menu-load 5s ease-in-out both;
    animation-delay: 5s;
  }

  @-webkit-keyframes menu-load {
    from{
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes menu-load {
    from{
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /*configuration Coeur index*/
  .icon_heart:hover i.fa-heart {
    display: none;
  }
  .icon_heart:hover i.fas.fa-heart {
    display: block;
  }
  .icon_heart {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    margin: 1.2rem 0 2rem 7rem;
    position: relative;
    bottom: 55px;
    right: 35px;
  }
  .icon_heart_top:hover i.fa-heart {
    display: none;
  }
  .icon_heart_top:hover i.fas.fa-heart {
    display: block;
  }
  .icon_heart_top {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    margin: 1.2rem 0 2rem 7rem;
    position: relative;
    bottom: 80px;
    right: 35px;
  }
  /*configuration coeur général*/
  i.fa-heart:hover {
    cursor: pointer;
    border: 0 solid transparent;
  }
  i.fas.fa-heart {
    display: none;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(172,72,175,1) 50%, rgba(255,121,218,1) 100%) ;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.5rem;
    animation: filling-heart 0.5s ease-in-out both;
  }
  /*Configuration Coeur pages menu*/
  .icon_heart_menu:hover i.fa-heart {
    display: none;
  }
  .icon_heart_menu:hover i.fas.fa-heart {
    display: block;
  }
  .icon_heart_menu {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    margin: 1.2rem 0 2rem 7rem;
    position: relative;
    right: 20px;
  }
  @keyframes filling-heart {  
    0% {  
    background-position: top;     
    transform: scale(1);  
  }   
  50% {
    background-position: bottom;
    transform: scale(1.2);
  }
  100% {  
    background: linear-gradient(rgba(172,72,175,1) 50%, rgba(255,121,218,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;    
    transform: scale(1);  
  } 
}
  
}
 /*version Tablette */
@media all and (min-width: 700px) and (max-width: 1199px)
{
  .loader {
    border: 16px solid #f7f7f7;
    border-radius: 50%;
    border-top: 16px solid #9356DC;
    border-right: 16px solid #FF79DA;
    border-bottom: 16px solid #99E2D0;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 5s linear both;
    animation: spin 5s linear both;
    position: absolute;
    top: 60%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    z-index: 2;
  }
  
  #overlay{
    position: fixed; 
    display: block; 
    width: 100%; 
    height: 100%; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    opacity: 1;
    z-index: 2;
   -webkit-animation: overlay 5s both;
    animation: overlay 5s both;
}

@-webkit-keyframes overlay {
  0% { 
    opacity:1;
  }
  50% { 
    opacity:1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
@keyframes overlay {
  0% { 
    opacity:1;
  }
  50% { 
    opacity:1;
  }
  100% {
    opacity: 0;
    z-index: -10;
  }
}
  @-webkit-keyframes spin {
    0% { 
      transform: rotate(0deg); 
      opacity:1;
      
    }
    50% { 
      transform: rotate(360deg); 
      opacity:1;
    }
    100% {
      transform: rotate(360deg);
      opacity: 0;
    }
  }

  @keyframes spin {
    0% { 
      transform: rotate(0deg); 
      opacity:0;
    }
    50% { 
      transform: rotate(360deg); 
      opacity: 1;
    }
    100% {
      transform: rotate(360deg);
      opacity: 0;
    }
  }
/* Animation Slide des bouton du menu*/
@-webkit-keyframes slide {
  0% {
   opacity : 1;
   transform: translateX(20px);
 }
   100% {
    opacity:1;
    transform: translateX(10px);
   }
}

@keyframes slide {
  0% {
    opacity : 1;
    transform: translateX(20px);
  }
    100% {
     opacity:1;
     transform: translateX(10px);
    }
  }  

  @-webkit-keyframes rotating {
    0%{
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg)
    }
    100%{
        -webkit-transform: rotate(20deg);
        transform: rotate(20deg)
    }
}
@keyframes rotating {
  0%{
      -webkit-transform: rotate(-90deg);
      transform: rotate(-90deg)
  }
  100%{
      -webkit-transform: rotate(20deg);
      transform: rotate(20deg)
  }
}
/* Chargement du menu l'un apres l'autre*/
  .starter {
    animation : menu-load 5s ease-in-out both;
    animation-delay: 1s;
  }

  .main_dish {
    animation : menu-load 5s ease-in-out both;
    animation-delay: 3s;
  }

  .desserts{
    animation : menu-load 5s ease-in-out both;
    animation-delay: 5s;
  }

  @-webkit-keyframes menu-load {
    from{
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes menu-load {
    from{
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .page_menu{
    animation : index-load 3s ease-in-out both;
    animation-delay: 3s
  }

  @-webkit-keyframes index-load {
    from{
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes index-load {
    from{
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  /*configuration Coeur index*/
  .icon_heart:hover i.fa-heart {
    display: none;
  }
  .icon_heart:hover i.fas.fa-heart {
    display: block;
  }
  .icon_heart {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    margin: 1.2rem 0 2rem 7rem;
    position: relative;
    bottom: 60px;
    right: 35px;
  }
  .icon_heart_top:hover i.fa-heart {
    display: none;
  }
  .icon_heart_top:hover i.fas.fa-heart {
    display: block;
  }
  .icon_heart_top {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    margin: 1.2rem 0 2rem 7rem;
    position: relative;
    bottom: 90px;
    right: 35px;
  }
  /*configuration coeur général*/
  i.fa-heart:hover {
    cursor: pointer;
    border: 0 solid transparent;
  }
  i.fas.fa-heart {
    display: none;
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 50%, rgba(172,72,175,1) 50%, rgba(255,121,218,1) 100%) ;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-size: 1.5rem;
    animation: filling-heart 0.5s ease-in-out both;
  }
  /*Configuration Coeur pages menu*/
  .icon_heart_menu:hover i.fa-heart {
    display: none;
  }
  .icon_heart_menu:hover i.fas.fa-heart {
    display: block;
  }
  .icon_heart_menu {
    display: flex;
    justify-content: flex-end;
    font-size: 1.5rem;
    margin: 1.2rem 0 2rem 7rem;
  }

  @keyframes filling-heart {  
    0% {  
    background-position: top;     
    transform: scale(1);  
  }   
  50% {
    background-position: bottom;
    transform: scale(1.2);
  }
  100% {  
    background: linear-gradient(rgba(172,72,175,1) 50%, rgba(255,121,218,1) 100%);
    background-clip: text;
    -webkit-background-clip: text;    
    transform: scale(1);  
  } 
}
  
}
