$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-third: #99E2D0;
$background-color: #f7f7f7;
$background-color-btn: white;


@mixin dark-header ($color: $background-color){
    background-color: darken($color, 15%);
}

@mixin dark-footer ($color: $background-color, $color-txt: $background-color-btn){
    background-color: darken($color, 75%);
    color: $color-txt;
}

@mixin footer-list {
    list-style-type: none;
    text-decoration: none;
    color: $background-color-btn;
    margin: 0;
    padding: 0;
}

@mixin img-restaurant-home {
    object-fit: cover;
    height: 200px;
    width: 100%;
    padding-bottom: 0;
}

@mixin flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-row {
    display: flex;
}

@mixin margin {
    margin : 0;
}

@mixin shrikhand {
    font-family: 'Shrikhand', cursive;
}

@mixin roboto {
    font-family: 'Roboto', sans-serif;
}

.footer_container {
    @include dark-footer;
    & ul, a{
        @include footer-list;
    }
}

.bkg-light{
    background-color: $background-color;
}

.btn-color {
    background-color: $background-color-btn;
}
