h2 {
    @include roboto;
}
h4{
    @include shrikhand;
    margin:0px;
    padding-bottom: 15px;
    font-weight: normal;
}

@media all and (max-width: 699px) {
    .header-bloc {
        text-align: center;
        z-index: 3;
        &__shadow{
            -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.5); 
        } 
        & img {
            height: 50px;
            width: 50%;
            object-fit: contain;
        }
    }

    .presentation-bloc {
        text-align: center;
        z-index: 1;
        &__localisation {
            @include dark-header;
            & i {
                margin-right: 15px;
            }
            & p{
                font-weight: bold;
            }
        }
        &__description {
            &--last {
                border-radius: 30px;
                background: linear-gradient($color-secondary, 50%, $color-primary);
                color: white;  
                width: 12em;
                text-align: center; 
                position : relative;
                left:20%;
                margin-bottom: 15px;
            }
            &--bold {
                font-weight: bold;
                font-size: 25px;
            }
        }
        
        & p {
            @include  margin;
            @include roboto;
            padding: 15px;
        }
    }

    .functionality{
        display: flex;
        flex-direction: column;
        
        &__btn{
            display: flex;
            border-radius: 20px;
            -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
            margin : 20px;
            justify-content: center;
            position: relative;
            background-color: $background-color;
            & :hover{
                background-color:  lighten($color-primary, 30%);
            }
            &__number {
                border-radius: 100px;
                background-color: $color-primary;
                width : 25px;
                height : 25px;
                text-align: center;
                font-size: 15px;
                position: absolute;
                right: 320px;
                color:white;
            }
            & i{
                position: relative;
                top: 35%;
                right :20px;
            }
        }
        & p {
            @include roboto;
        }
        
    }
    .restaurant-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__btn {
            height: 290px;
            width : 90%;
            &--new{
                position : relative;
                bottom: 230px;
                left: 250px;
                width: 20%;
                background-color: $color-third;
                @include roboto;
                color: darken($color-third, 40%);
                font-weight: bold;
            }    
        }
        & img{
        @include img-restaurant-home;
        border-radius: 20px 20px 0 0;
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        padding: 0;
        margin: 0;
    }
        & p {
            @include  margin;
            @include roboto;
            padding: 3px;
        }
        & a{
            text-decoration: none;
            @include roboto;
            color: black;
        }
    }
    
    .btn-color {
        border-radius: 0 0 20px 20px;
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        margin:0;
        padding: 0;
        &--bold {
            font-weight: bold;
        }
    }

    .footer_container{
        padding: 15px;
        & li{
            padding:5px;
        }
        & i {
            padding-right: 5px;
            font-size:15px;
        }
    }
}

/*@media all and (min-width: 950px) and (max-width: 1200px) {
    .header-bloc {
        text-align: center;
        z-index: 3;
        &__shadow{
            -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.5); 
        } 
        & img {
            height: 50px;
            width: 50%;
            object-fit: contain;
        }
    }

    .presentation-bloc {
        text-align: center;
        z-index: 1;
        &__localisation {
            @include dark-header;
            & i {
                margin-right: 15px;
            }
            & p{
                font-weight: bold;
            }
        }
        &__description {
            &--last {
                border-radius: 30px;
                background: linear-gradient($color-secondary, 50%, $color-primary);
                color: white;  
                width: 12em;
                text-align: center; 
                position : relative;
                left:20%;
                margin-bottom: 15px;
            }
            &--bold {
                font-weight: bold;
                font-size: 25px;
            }
        }
        
        & p {
            @include  margin;
            @include roboto;
            padding: 15px;
        }
    }

    .functionality{
        display: flex;
        flex-direction: column;
        
        &__btn{
            display: flex;
            border-radius: 20px;
            -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
            margin : 20px;
            justify-content: center;
            position: relative;
            background-color: $background-color;
            & :hover{
                background-color:  lighten($color-primary, 30%);
            }
            &__number {
                border-radius: 100px;
                background-color: $color-primary;
                width : 25px;
                height : 25px;
                text-align: center;
                font-size: 15px;
                position: absolute;
                right: 320px;
                color:white;
            }
            & i{
                position: relative;
                top: 35%;
                right :20px;
            }
        }
        & p {
            @include roboto;
        }
        
    }
    .restaurant-menu {
        display: flex;
        justify-content: center;
        &__btn {
            height: 290px;
            width : 50%;
            &--new{
                position : relative;
                bottom: 230px;
                left: 250px;
                width: 20%;
                background-color: $color-third;
                @include roboto;
                color: darken($color-third, 40%);
                font-weight: bold;
            }    
        }
        & img{
        @include img-restaurant-home;
        border-radius: 20px 20px 0 0;
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        padding: 0;
        margin: 0;
    }
        & p {
            @include  margin;
            @include roboto;
            padding: 3px;
        }
        & a{
            text-decoration: none;
            @include roboto;
            color: black;
        }
    }
    
    .btn-color {
        border-radius: 0 0 20px 20px;
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        margin:0;
        padding: 0;
        &--bold {
            font-weight: bold;
        }
    }

    .footer_container{
        padding: 15px;
        & li{
            padding:5px;
        }
        & i {
            padding-right: 5px;
            font-size:15px;
        }
    }
}*/
