h2 {
    @include roboto;
}
@media all and (max-width: 699px) {
    .header-bloc {
        text-align: center;
        -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);
        box-shadow: 0 0 20px 0 rgba(0,0,0,0.5);   
        & img {
            height: 50px;
            width: 50%;
            object-fit: contain;
        }
    }

    .presentation-bloc {
        text-align: center;
        &__localisation {
            @include dark-header;
            & i {
                margin-right: 15px;
            }
            & p{
                font-weight: bold;
            }
        }
        &__description {
            &--last {
                border-radius: 30px;
                background: linear-gradient($color-secondary, 50%, $color-primary);
                color: white;  
                width: 12em;
                text-align: center; 
                position : relative;
                left:20%;
                margin-bottom: 15px;
            }
            &--bold {
                font-weight: bold;
                font-size: 25px;
            }
        }
        
        & p {
            @include  margin;
            @include roboto;
            padding: 15px;
        }
    }

    .functionality{
        display: flex;
        flex-direction: column;
        &__btn{
            display: flex;
            border-radius: 20px;
            -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
            box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
            margin : 20px;
            justify-content: center;
            position: relative;
            background-color: $background-color;
            &__number {
                border-radius: 100px;
                background-color: $color-primary;
                padding: 5px;
                font-size: 15px;
                position: absolute;
                left: -2%;
                color:white;
            }
            & i{
                position: relative;
                top: 35%;
                left : -100%;
            }
        }
        & p {
            @include roboto;
        }
        
    }
    .restaurant-menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        &__btn {
            height: 350px;
            width : 100%;
            border-radius: 35px;
            padding:0;
            margin:0;
        }
        & img{
            @include img-restaurant-home;
        
    }
        & p {
            @include  margin;
            @include roboto;
        }
    }
    
    .btn-color {
        &--bold {
            font-weight: bold;
        }
        & i {
            font-size: 30px;
            position: relative;
            left: 85%;
            bottom: 50%;
        }
    }
}
.restaurant-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__btn {
        height: 350px;
        width : 90%;
        border-radius: 35px;
        padding:0;
        margin:0;
    }
    & img{
        @include img-restaurant-home;
    
    }
    .btn-color {
        margin:0;
    }
}
