
html, body {
    margin: 0;
    padding: 0;
}
/* Version Mobile*/
@media all and (max-width: 699px) {
/*Header*/
   .restaurant-header-bloc {
       &__logo {
        display: flex;
        justify-content: center;
        &__img{
            height: 50px;
            width: 50%;
            object-fit: contain;
        }
       }

        &__img {
            object-fit: cover;
            height: 300px;
            width: 100%;
        }

        & i {
            position: relative;
            transform: translate(-150%, 80%);
            font-size: 20px;

        }
   } 
/*Bloc menu*/
   .restaurant-menu_blocs {
       display: flex;
       flex-direction: column;
       align-items: center;
        border-radius: 30px 30px 0 0;
        position: relative;
        bottom: 35px;
        margin: auto;
        margin-bottom: -35px;
        padding-bottom: 35px;
       & h2{
           @include shrikhand;
       }
    &__btn {
        border-radius: 15px;
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        margin: 10px;
        padding: 10px;
        background-color: white;
        height: 40px;
        width: 330px;
       
        &--bold {
            font-weight: bold;
        }
        & span {
            opacity: 0;
            font-size: 20px;
        }
    &:hover{
        & .price {
            span {
                color :white;
                background-color: #99E2D0;
                padding-top: 18px;
                padding-bottom: 20px;
                padding-right: 15px;
                padding-left: 15px;
                margin:0;
                object-position: right top ;
                position: relative;
                bottom: 34px;
                -webkit-animation : slide 0.5s ease both;
                animation: slide 0.5s ease both;
                border-radius: 0 15px 15px 0;
            }

            i {
                -webkit-animation: rotating 2s linear ;
                animation: rotating 2s linear;
            }
        }
        
      }
    }
    &--title {
        display: flex;
        justify-content: space-around;
        padding-left: 5px;
        & i:hover {
            background: linear-gradient($color-secondary, 50%, $color-primary);
            margin: 0;
            padding: 0;
         }
    }
    & p {
        margin:0;
        padding:2px;
        @include roboto;
    }
   }
    
   .order-btn {
       display: flex;
       justify-content: center;
       text-decoration: none;
       @include roboto;
       border-radius: 30px;
       background: linear-gradient($color-secondary, 50%, $color-primary);
        color: white; 
        padding : 15px;
        width: 50%;
        text-align: center;
        margin: 25px;
   }
   .upper-case {
    text-transform: uppercase;
    border-bottom: solid 4px $color-third;
    width: 10%;
}
.price {
    display: flex;
    justify-content: space-between;
    &__ellipsis {
        flex: 1;
        min-width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
}
/*Version Desktop*/
@media all and (min-width: 1920px) {
    /*Header*/
    .restaurant-header-bloc {
        &__logo {
         display: flex;
         justify-content: center;
         &__img{
             height: 50px;
             width: 50%;
             object-fit: contain;
         }
        }
 
         &__img {
             object-fit: cover;
             height: 400px;
             width: 100%;
         }
 
         & i {
             position: relative;
             transform: translate(-150%, 80%);
             font-size: 20px;
 
         }
    } 
    /*Bloc Menu*/
    .restaurant-menu_blocs {
        display: flex;
        flex-direction: column;
        align-items: center;
         border-radius: 30px 30px 0 0;
         position: relative;
         bottom:100px;
         margin: auto;
         margin-bottom: -100px;
         padding-bottom: 50px;
        & h2{
            @include shrikhand;
        }
     &__btn {
        border-radius: 15px;
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 0;
        background-color: white;
        text-overflow: ellipsis;
        overflow: hidden;
        width : 400px;
        height : 55px;
        & span {
            opacity: 0;
            font-size: 20px;
        }
        &:hover{
            span {
            color :white;
            background-color: #99E2D0;
            padding-top: 25px;
            padding-bottom: 20px;
            padding-right: 20px;
            padding-left: 20px;
            margin:0;
            width: 10%;
            height : 100%;
            text-align: center;
            position: relative;
            bottom: 35px;
            -webkit-animation : slide 0.5s ease both;
            animation: slide 0.5s ease both;
            }

            i {
                -webkit-animation: rotating 2s linear;
                animation: rotating 2s linear;
            }
        }
        &--bold {
            font-weight: bold;
        }
     }
     &--title {
        text-align: center;
        display: flex;
        justify-content:center;
        padding-left: 15px;
    }
     & p {
        margin:0;
        padding:5px;
        @include roboto;
    }
     &--detail {
        display: flex;
        justify-content: space-around;
    }
    }
    .starter {
        margin-right: 45px;
    }
    .main_dish {
        margin-right: 45px;
    }
    .order-btn {
        display: flex;
        justify-content: center;
        text-decoration: none;
        @include roboto;
        border-radius: 30px;
        background: linear-gradient($color-secondary, 50%, $color-primary);
        color: white; 
        padding : 15px;
        width: 30%;
        text-align: center;
        margin: 25px;
    }
    .upper-case {
        text-transform: uppercase;
        border-bottom: solid 4px $color-third;
        width: 10%;
        padding:0;
        margin:0;
 }
 .price {
    display: flex;
    justify-content: space-between;
    &__ellipsis {
        flex: 1;
        min-width: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
 }

 /* Version PC Portable*/
 @media all and (min-width: 1200px) and (max-width: 1919px) {
     /*Header*/
    .restaurant-header-bloc {
        &__logo {
         display: flex;
         justify-content: center;
         &__img{
             height: 50px;
             width: 50%;
             object-fit: contain;
         }
        }
 
         &__img {
             object-fit: cover;
             height: 400px;
             width: 100%;
         }
 
         & i {
             position: relative;
             transform: translate(-150%, 80%);
             font-size: 20px;
         }
    } 
    /*Bloc Menu*/
    .restaurant-menu_blocs {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 30px 30px 0 0;
        position: relative;
        bottom:100px;
        margin: auto;
        margin-bottom: -100px;
        padding-bottom: 50px;
        & h2{
            @include shrikhand;
        }
     &__btn {
        border-radius: 15px;
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        margin-bottom: 20px;
        margin-top: 20px;
        padding: 0;
        background-color: white;
        text-overflow: ellipsis;
        overflow: hidden;
        width : 350px;
        height : 55px;
        & span {
            opacity: 0;
            font-size: 20px;
        }
        &:hover{
            span {
            color :white;
            background-color: #99E2D0;
            padding-top: 25px;
            padding-bottom: 20px;
            padding-right: 20px;
            padding-left: 20px;
            margin:0;
            width: 10%;
            height : 100%;
            text-align: center;
            position: relative;
            bottom: 35px;
            -webkit-animation : slide 0.5s ease both;
            animation: slide 0.5s ease both;
            }
            i {
                -webkit-animation: rotating 2s linear ;
                animation: rotating 2s linear;
            }
        }
        &--bold {
            font-weight: bold;
        }
     }
     &--title {
        text-align: center;
        display: flex;
        justify-content:center;
        padding-left: 15px;
    }
     & p {
        margin:0;
        padding:5px;
        @include roboto;
    }
     &--detail {
        display: flex;
        justify-content: space-around;
    }
    }
    .starter {
        margin-right: 40px;
    }
    .main_dish {
        margin-right: 40px;
    }
    .order-btn {
        display: flex;
        justify-content: center;
        text-align: center;
        text-decoration: none;
        @include roboto;
        border-radius: 30px;
        background: linear-gradient($color-secondary, 50%, $color-primary);
        color: white; 
        padding : 15px;
        width: 30%;
        margin: 25px;
    }
    .upper-case {
        text-transform: uppercase;
        border-bottom: solid 4px $color-third;
        width: 10%;
        padding:0;
        margin:0;
 }
    .price {
        display: flex;
        justify-content: space-between;
        &__ellipsis {
            flex: 1;
            min-width: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
 }

 /* Partie Responsive Tablette*/
@media all and (min-width: 700px) and (max-width: 1199px)
{
    /*Header*/
   .restaurant-header-bloc {
    &__logo {
     display: flex;
     justify-content: center;
     &__img{
        height: 50px;
        width: 50%;
        object-fit: contain;
     }
    }

     &__img {
        object-fit: cover;
        height: 300px;
        width: 100%;
     }

     & i {
        position: relative;
        transform: translate(-150%, 80%);
        font-size: 20px;
     }
} 
    /*Bloc menu*/
    .restaurant-menu_blocs {
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 30px 30px 0 0;
        position: relative;
        bottom: 35px;
        margin: auto;
        margin-bottom: -35px;
        padding-bottom: 35px;
        text-overflow: ellipsis;
        & h2{
            @include shrikhand;
        }
    &__btn {
        border-radius: 15px;
        -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
        margin: 10px;
        padding: 10px;
        background-color: white;
        height: 55px;
        width: 330px;
        
        &--bold {
            font-weight: bold;
        }
        & span {
            opacity: 0;
            font-size: 20px;
        }
    &:hover{
        span {
            color :white;
            background-color: #99E2D0;
            padding-top: 25px;
            padding-bottom: 30px;
            padding-right: 15px;
            padding-left: 15px;
            margin:0;
            object-position: right top ;
            position: relative;
            bottom: 34px;
            -webkit-animation : slide 0.5s ease both;
            animation: slide 0.5s ease both;
            border-radius: 0 15px 15px 0;
            }

            i {
                -webkit-animation: rotating 2s linear ;
                animation: rotating 2s linear;
            }
        }
    }
    &--title {
        display: flex;
        justify-content: space-around;
        padding-left: 5px;
        & i:hover {
            background: linear-gradient($color-secondary, 50%, $color-primary);
            margin: 0;
            padding: 0;
        }
    }
    & p {
        margin:0;
        padding:2px;
        @include roboto;
    }
    }
    
    .order-btn {
        display: flex;
        justify-content: center;
        text-decoration: none;
        @include roboto;
        border-radius: 30px;
        background: linear-gradient($color-secondary, 50%, $color-primary);
        color: white; 
        padding : 15px;
        width: 50%;
        margin: 25px;
    }
    .upper-case {
    text-transform: uppercase;
    border-bottom: solid 4px $color-third;
    width: 10%;
    }
    .price {
        display: flex;
        justify-content: space-between;
        &__ellipsis {
            flex: 1;
            min-width: 0;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}